@import '../../General_settings/colors.scss';

.app-header {
    height: 100px;
    background-color: $samurai-blue;
    background-image: linear-gradient(315deg, $samurai-blue 0%, $samurai-purple 74%);
    
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.scrolled {
    position: fixed;
    width: 100%;
    
}