.app-header {
    height: 120px;
    background-color: white;
    
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.scrolled {
    position: fixed;
    width: 100%;
    z-index: 999;    
}