@import '../../../General_settings/colors.scss';

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
        
        height: 100px;
        display: flex;
        align-items: center;

        a {
            color: white;
            text-decoration: none;
            font-weight: 700;
            line-height: 100px;
            text-transform: uppercase;
            padding: 0 35px;
            height: 100%;
        }

        a:hover {
            background-color: rgba(255, 255, 255, .2);
            border-bottom: 4px solid $samurai-yellow;
        }
    }
}