@import '../../../General_settings/colors.scss';

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
        
        height: 120px;
        display: flex;
        align-items: center;

        a {
            color: black;
            text-decoration: none;
            font-weight: 700;
            font-size: 20px;
            line-height: 120px;
            font-weight: 500;
            padding: 0 35px;
            height: 100%;
        }

        a:hover {
            
            border-bottom: 4px solid $samurai-dark-green;
            color: $samurai-green;
        }
    }
}