@import '../../General_settings/fonts.scss';
@import '../../General_settings/colors.scss';

.diet-components-wrapper {
    background-color: white;
    height: 80vh;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 0;
        background-color: white;
        margin-bottom: 150px;

        &::after {
            content: "";
            width: 200px;
            height: 200px;
            background-color: white;
            position: absolute;
            z-index: -1; 
            top: -40px;
            background-color: white;
            border-radius: 50%;
            border-bottom: 3px solid $samurai-green;
            border-right: 1px solid white;
            border-left: 1px solid white;

        }
        .diet-components-headline {
            font-family: $main-font;
            font-size: 40px;
            margin: 40px;
            margin-bottom: 130px;
            color: black;
            font-weight: 500;
        }

        .diet-components__first__row {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .diet-components__second__row {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .diet-components__box {
                margin: 0 80px;
            }
        }

        .diet-components__box {
            height: 300px;
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $samurai-green;
            border-radius: 50%;
            border: 5px solid $samurai-dark-green;
            transition: box-shadow, 0.3s;

            p {
                font-size: 24px;
                color: white;
                font-family: $main-font;
                font-weight: 500;
                margin: 30px 30px 0;
                text-align: center;
                line-height: 1.5;
            }
            
                
            &__meat {
                width: 100px;
                height: 100px;
                background-image: url(../../assets/meat.png);
                background-size: contain;
                background-repeat: no-repeat;
                
            }
            &__eggs {
                width: 100px;
                height: 100px;
                background-image: url(../../assets/egg.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            &__grain {
                width: 100px;
                height: 100px;
                background-image: url(../../assets/grain.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            &__vegetables {
                width: 100px;
                height: 100px;
                background-image: url(../../assets/brocolli.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            &__fruits {
                width: 100px;
                height: 100px;
                background-image: url(../../assets/fruit.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            
        }  
    }
}

.show {
        display: none;
    }