@import '../../General_settings/colors.scss';

.carousel-wrapper {
    background-color: $samurai-green;

    .carousel {
        width: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;

        .slide {
            min-width: 100%;
            height: 80vh;
            transition: .5s;
        }
    }

    .carousel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        width: 120px;
        height: 120px;
        background: none;
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, .3);

        &__left {
            left: 30px;
        }

        &__right {
            right: 30px;
        }

        &__icon {
            font-size: 50px;
            color: rgba(0, 0, 0, .3);
        }
    }
}